img {
    display: block;
    width: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 500px;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}