input {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(100, 100, 100);
    border: none;
}

.email {
    width: 220px;
    display: block;
}

button {
    display: block;
    margin-top: 10px;
    background-color: rgb(52, 152, 229);
    color: white;
    border: none;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 235px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
}